h1 {
    color:red;
}

#specialH1 {
    border: 1px solid black;
}

.colorfulDiv{
    color:red;
    background-color: blue;
    border:10px dotted green;
}

.buttonLink {
    text-decoration: none;
    background-color: red;
    color: #333333;
    border: 1px #333333 solid;
    padding:10px;
    margin:10px;
    display: block;
    width:100px;
    border-radius: 10px;
    text-align: center;
}

.buttonLink:hover{
    background-color: #333333;
    color: #DDDDDD;
    border: 1px #DDDDDD solid;
    font-weight: bold;
}

.vidWidth {
    width: 100px;
}

.img {
    width:100px;
    height:200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}